<a name='post-#{post.id}'></a>
<div id='post_<%= post.id %>' class='post <%= cycle('odd', 'even') -%>'>
  <div class='user'>
    <div class='username'>username</div>
    <div class='icon'></div>
    <div class='member-for'>member for 3 months</div>
  </div>

  <div class='text'>
    <%= post.text %>
  </div>

  <div class='actions'>
    <% if current_user %>
      <%= link_to "Reply", new_topic_post_path(@topic, :reply_to_id => post.id) %>
      |
      <%= link_to "Delete", topic_post_path(@topic, post), :method => :delete, :confirm => "Are you sure?" %>
    <% end %>
    <% if post.reply_to %>
      <%= link_to "In reply to #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
    <% end %>
  </div>
</div>
