<a name='post-<%= post.id %>'></a>
<div id='post_<%= post.id %>' class='post <%= cycle('odd', 'even') -%>'>
  <%= render :partial => 'forem/posts/user_details', :locals => { :user => post.user } %>

  <div class='contents'>
    <time datetime="<%= post.created_at.to_s(:db) -%>"><%= time_ago_in_words(post.created_at) -%> ago</time>
    <div class='text'>
      <%= forem_markdown(post.text) %>
    </div>

    <% if post.reply_to %>
      <%= link_to "In reply to #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
    <% end %>

    <ul class='actions'>
      <% if forem_user %>
        <% if @topic.can_be_replied_to? %>
          <li><%= link_to "Reply", new_topic_post_path(@topic, :reply_to_id => post.id) %></li>
        <% end %>
        <% if @topic.can_be_replied_to? %>
          <li><%= link_to "Quote", new_topic_post_path(@topic, :reply_to_id => post.id, :quote => true) %></li>
        <% end %>
        <% if forem_user == post.user || forem_admin? %>
          <li><%= link_to "Delete", topic_post_path(@topic, post), :method => :delete, :confirm => "Are you sure?" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
