<%= render 'forem/forums/head', :forum => @topic.forum, :topic => @topic %>

<h2><%= t('new', :scope => 'forem.post') %></h2>

<% if @reply_to_post %>
  <div id='posts'>
    <%= render 'reply_to_post', :post => @reply_to_post %>
  </div>
<% else %>
  <h3 class='topic_subject'><%= @topic.subject %></h3>
<% end %>

<%= simple_form_for [forem, @topic, @post] do |f| %>
  <%= render 'form', :f => f %>
  <%= f.submit t('reply', :scope => 'forem.post.buttons') %>
<% end %>
