<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h2><%= t("forem.post.new") %></h2>
<% if @reply_to_post %>
<%= render "/forem/posts/post", :post => @reply_to_post, post_counter: 0, show_buttons: false %>
<% else %>
<em><%= @topic.subject %></em>
<% end %>

<%= simple_form_for [forem, @topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => "btn btn-primary" %>
<% end %>