<!DOCTYPE html>
<html>
  <head>
    <title>Forem</title>
    <%= stylesheet_link_tag    "forem", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "forem", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= forem_atom_auto_discovery_link_tag %>
  </head>
  <body>
    <% flash.each do |k,v| %>
      <div class='flash <%= k %>'><%= v %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
