<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, message| %>
    <div id='flash_<%= key %>'><%= message %></div>
  <% end %>
  <% if user_signed_in? %>
    Signed in as <%= current_user %>
    <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
  <% end %>


<%= yield %>

</body>
</html>
