<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, message| %>
    <div id='flash_<%= key %>'><%= message %></div>
  <% end %>
  Signed in as <%= current_user %>


<%= yield %>

</body>
</html>
