<h2><%= t('forem.admin.group.members', :group => forem_emojify(@group.name)) %></h2>

<div class="new_member">
  <%= hidden_field_tag "new_member" %><%= button_tag t(".add_member"), :disabled => true, :id => "add_member", "data-group-id" => "#{@group.id}"  %>
</div>

<ul id='members'>
  <% @group.members.each do |member| %>
    <li><%= member.to_s %></li>
  <% end %>
</ul>

<%= render "forem/shared/routes" %>

<%= javascript_include_tag "forem/admin/members" %>
