<h2><%= t("forem.admin.forum.index") %></h2>

<%= link_to t("forem.admin.forum.new_link"), new_admin_forum_path %>

<table id='forums' class='forums subdued'>
  <thead>
    <tr>
      <th><%= t("forem.admin.forums.edit") %></th>
      <th><%= t("forem.admin.forums.delete") %></th>
      <th><%= t("forem.admin.forums.forum") %></th>
      <th><%= t("forem.admin.forums.topics") %></th>
      <th><%= t("forem.admin.forums.posts") %></th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <tr class="forum <%= cycle("odd", "even") %>">
        <td><%= link_to t("forem.admin.forums.edit"), edit_admin_forum_path(forum) %></td>
        <td><%= link_to t("forem.admin.forums.delete"), admin_forum_path(forum), :method => :delete, :confirm => "Are you sure you want to delete this forum?" %></td>
        <td>
          <%= link_to forum.title, forum_path(forum) %>
          <div class='description'><%= forum.description %></div>
          <% if forum.last_post %>
            Last: <%= link_to(forum.last_post.topic, forum_topic_path(forum, forum.last_post.topic)) -%> by <%= forum.last_post.user %> <%= time_ago_in_words(forum.last_post.created_at) -%>
          <% end %>
        </td>
        <td><%= forum.topics.count %></td>
        <td><%= forum.posts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

