<h2><%= t("forem.admin.forum.index") %></h2>

<%= link_to t("forem.admin.forum.new_link"), new_admin_forum_path %>

<table id='forums' class='forums subdued'>
  <thead>
    <tr>
      <th>Forum</th>
      <th>Topics</th>
      <th>Posts</th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <tr class="forum <%= cycle("odd", "even") %>">
        <td>
          <%= link_to forum.title, forum_path(forum) %>
          <div class='description'><%= forum.description %></div>
          <% if forum.last_post %>
            Last: <%= link_to(forum.last_post.topic, forum_topic_path(forum, forum.last_post.topic)) -%> by <%= forum.last_post.user %> <%= time_ago_in_words(forum.last_post.created_at) -%>
          <% end %>
        </td>
        <td><%= forum.topics.count %></td>
        <td><%= forum.posts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

