<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <%= forem_atom_auto_discovery_link_tag %>
</head>
<body>
  <% flash.each do |key, message| %>
    <div class='flash <%= key %>'><%= message %></div>
  <% end %>
  <% if user_signed_in? %>
    Signed in as <%= forem_user.forem_name %>
    <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
  <% end %>


<%= yield %>

</body>
</html>
