<div class="forem-header">
	<h2><%= link_to t('forem.forum.forums'), root_path %> &rsaquo; <%= link_to @forum.category, [@forem, @forum.category] %> &rsaquo; <%= link_to @forum.title, [@forem, @forum] %> &rsaquo; <%= topic.subject %></h2>
</div>
<% if forem_admin? %>
<div class="admin">
  <%= link_to t('forem.topic.links.edit'), forem.edit_admin_topic_path(topic) %>
</div>
<% end %>
