<tr class="topic <%= cycle('odd', 'even') %> <%= topic.locked? ? 'locked' : 'unlocked' %>">
  <td class='icon'>
    <%= topic_locked_icon if topic.locked? %>
    <%= topic_pinned_icon if topic.pinned? %>
    <%= topic_new_posts_icon if new_posts?(topic, forem_user) %>
  </td>
  <td class='byline'>
    <%= new_since_last_view_text(topic, forem_user) %>
    <div class='subject'>
      <%= link_to forem_emojify(topic.subject), forem.forum_topic_path(@forum, topic) %>
    </div>
    <div class='started-by'>
      <%= t "started_by" %><%= relevant_posts(topic, forem_user).first.user %>
    </div>
  </td>
  <td class='latest-post'>
    <%= link_to_latest_post(topic, forem_user) -%>
  </td>
  <td class='posts-count'><%= relevant_posts(topic, forem_user).count %></td>
  <td class='views-count'><%= topic.views_count %></td>
</tr>
