<tr class="<%= cycle('odd', 'even') %> <%= topic_listing.locked? ? 'locked' : 'unlocked' %>">
  <td class='icon'>
    <% if topic_listing.locked? %>
      <span class='lock icon'></span>
    <% end %>
    <% if topic_listing.pinned? %>
      <span class='pin icon'></span>
    <% end %>
    <% if forem_user && view = topic_listing.view_for(forem_user) %>
      <% if topic_listing.posts.where("created_at > ?", view.updated_at).any? %>
        <span class='new_posts icon'>new</span>
      <% end %>
    <% end %>
  </td>
  <td class='topic'>
    <div class='subject'><%= link_to topic_listing.subject, forum_topic_path(@forum, topic_listing) %></div>
    <div class='started-by'>Started by <%= topic_listing.posts.first.user %></div>
  </td>
  <td class='latest-post'>
    <%= link_to_latest_post(topic_listing.posts.last) -%>
  </td>
  <td class='posts-count'><%= topic_listing.posts.count %></td>
  <td class='views-count'><%= topic_listing.views.sum(:count) %></td>
</tr>
