<div id='topic' class='<%= 'un' unless @topic.locked? %>locked'>
  <%= render 'forem/topics/head', :topic => @topic %>

  <menu>
    <% if @topic.can_be_replied_to? && can?(:reply, @topic) %>
      <%= link_to t(".reply"), forem.new_topic_post_path(@topic) %>
    <% end %>
    <% if @topic.user == forem_user || forem_admin? %>
      <%= link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, :confirm => t("are_you_sure") %>
    <% end %>
    <%= Forem::UserSubscriptionLinkPresenter.new(self, forem_user, @topic) if forem_user %>
  </menu>

  <%= forem_admin_topic_links(@topic) %>

  <% if @topic.pending_review? %>
    <div class="moderation" id="topic_moderation">
      <%= t(".pending_review") %>
      <% if forem_admin_or_moderator?(@topic.forum) %>
        <%= form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f| %>
          <%= render "/forem/moderation/options", :f => f %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= forem_pages_widget(@posts) %>

  <div id="posts">
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>

  <%= forem_pages_widget(@posts) %>
</div>
