<%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

<div id='topic'>
  <h2>
    <%= @topic.subject %>
    <% if @topic.can_be_replied_to? %>
      <%= link_to "Reply to Topic", new_topic_post_path(@topic) %>
    <% end %>
  </h2>
  <menu>
    <%= link_to "Delete", forum_topic_path(@forum, @topic), :method => :delete, :confirm => 'Are you sure?' %>
  </menu>
  <div id='posts'>
    <%= paginate @posts %>
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>
</div>
