<div id='topic' class='<%= 'un' unless @topic.locked? %>locked'>
  <%= render 'forem/topics/head', :topic => @topic %>

  <menu>
    <%= topic_reply_link @topic, forem_user %>
    <%= topic_delete_link @topic, forem_user %>
    <%= Forem::UserSubscriptionLinkPresenter.new(self, forem_user, @topic) if forem_user %>
  </menu>

  <%= forem_admin_topic_links @topic %>

  <%= render 'forem/topics/pending_review', :topic => @topic if @topic.pending_review? %>

  <%= forem_pages_widget @posts %>

  <div id="posts">
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>

  <%= forem_pages_widget @posts %>
</div>
