<% if can?(:read, forum) %>
  <tr class="forum <%= cycle("odd", "even") %>">
    <td>
      <%= link_to forum.title, forum_path(forum), :class => "title" %>
      <div class='description'><%= forum.description %></div>
      <%= t('forem.forums.index.last_post') -%>
      <span class='last_post'>
          <% if last_post = forum.last_post_for(forem_user) -%>
            <%= link_to(last_post.topic, forum_topic_path(forum, last_post.topic)) -%> <%= t('by') %> <%= last_post.user %> <%= t('time_ago_in_words', :time => time_ago_in_words(last_post.created_at)) -%>
          <% else %>
            <%= t('forem.forums.index.none') -%>
          <% end %>
        </span>
    </td>
    <td class="topics-count"><%= forum.topics.count %></td>
    <td class="posts-count"><%= forum.posts.count %></td>
    <td class="views-count"><%= forum.views.sum(:count) %></td>
  </tr>
<% end %>
