<% if can?(:read, forum) %>
  <tr class="forum <%= cycle("odd", "even") %>">
    <td>
      <div class="forum-img">img</div>
      <div class="forum-desc">
        <%= link_to forum.title, forem.forum_path(forum), :class => "title" %>
        <div class='description'><%= forum.description %></div>
      </div>
    </td>
    <td class="topics-count"><%= topics_count(forum) %></td>
    <td class="posts-count"><%= posts_count(forum) %></td>
    <td class="views-count">
      <span class='last_post'>
        <% if last_post = forum.last_post_for(forem_user) %>
          <%= link_to(last_post.topic, forem.forum_topic_path(forum, last_post.topic)) %><br />
          <%= last_post.user.email %>, <%= t('time_ago_in_words', :time => time_ago_in_words(last_post.created_at)) %>
        <% else %>
          <%= t('forem.forums.index.none') %>
        <% end %>
      </span>
    </td>
  </tr>
<% end %>
