<div id='forum'>
  <h2><%= link_to forum.title, forum %></h2>
  <div class='description'>
    <%= forum.description %>
  </div>
  <%= link_to t('forem.forum.forums'), forums_path, :class => 'forums' %>
  <menu>
    <% unless @topic && @topic.new_record? %>
      <%= link_to t('forem.topic.links.post'), new_forum_topic_path(forum) %>
    <% end %>
    <% if @topic %>
      <%= link_to t('forem.topic.links.back_to_topics'), forum_path(forum) %>
    <% end %>
  </menu>
</div>
