<table id='forums' class='forums subdued' cellspacing='0'>
  <thead>
  <tr>
    <th><%= t('.forums') %></th>
    <th><%= t('.topics') %></th>
    <th><%= t('.posts') %></th>
    <th><%= t('.views') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
