<h2><%= t('.title') %></h2>
<table id='forums' class='forums subdued' cellspacing='0'>
  <thead>
    <tr>
      <th><%= t('.forum') %></th>
      <th><%= t('.topics') %></th>
      <th><%= t('.posts') %></th>
      <th><%= t('.views') %></th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <tr class="forum <%= cycle("odd", "even") %>">
        <td>
          <%= link_to forum.title, forum_path(forum), :class => "title" %>
          <div class='description'><%= forum.description %></div>
          <% if forum.last_post %>
            <span class='last_post'>
              <%= t('.last_post') %>: <%= link_to(forum.last_post.topic, forum_topic_path(forum, forum.last_post.topic)) -%> by <%= forum.last_post.user %> <%= t('time_ago_in_words', :time => time_ago_in_words(forum.last_post.created_at)) -%>
            </span>
          <% end %>
        </td>
        <td><%= forum.topics.count %></td>
        <td><%= forum.posts.count %></td>
        <td><%= forum.views.sum(:count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if forem_admin? %>
  <%= link_to t("forem.admin.area"), admin_root_path %>
<% end %>
