<%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

<%= forem_pages_widget(@topics) %>
<table class='topics subdued' cellspacing='0'>
  <thead>
    <tr>
      <th class="byline"><%= link_to t('forem.forum.forums'), @forem.root_path %> &rsaquo; <%= link_to @forum.category, [@forem, @forum.category] %> &rsaquo; <%= link_to @forum.title, [@forem, @forum] %></th>
      <th class="posts-count"><%= t('forem.topic.headings.posts') %></th>
      <th class="views-count"><%= t('forem.topic.headings.views') %></th>
      <th class="latest-post"><%= t('forem.topic.headings.last_post') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @topics.empty? %>
      <tr><td colspan="5" align="center"><%= t('forem.topic.none') %></td></tr>
    <% end %>
    <%= render @topics %>
  </tbody>
</table>

<%= forem_pages_widget(@topics) %>
