<h1>Listing audit_logs</h1>

<table id="audit_logs">
  <tr>
    <th>User</th>
    <th>Resource</th>
		<th>Resource Type</th>
    <th>Resource action</th>
    <th>Action type</th>
    <th>User IP</th>
    <th>Did on</th>
  </tr>

<% @audit_logs.each do |audit_log| %>
  <tr>
    <td><%= audit_log.user_id %></td>
		<% unless audit_log.resource.nil? %>
    <td><%= link_to resource_text(audit_log.resource), resource_path(audit_log.resource) %></td>
		<% else %>
		<td><%= audit_log.resource_id %> (deleted)</td>
		<% end %>
		<td><%= audit_log.resource_type %></td>
    <td><%= audit_log.resource_action %></td>
		<td><%= audit_log.action_type %></td>
		<td><%= audit_log.user_ip %></td>
		<td><%= audit_log.created_at %></td>
  </tr>
<% end %>
</table>

<%= paginate @audit_logs %>